@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COLOR #2D417D */
body {
    font-family: 'open sans';
    background-color: #d5d5d5;
    margin: 0; 
    padding: 0;
    font-family: "Raleway", sans-serif;
}

 /* ==================== Imagen ==================== */
.circle-container {
    z-index: 9;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.circle-container img {
    max-width: 200%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width:632px) {
    .circle-container{
    top: 24%;
    width: 270px;
    height: 270px;
    }
}
@media (min-width:1400px) {
    .circle-container {
    top: 21%;
    width: 210px;
    height: 210px;
    }
}

/* ==================== Header ==================== */
header {
    width: 100%;
    height: 200px;
    background: #100b9b url('../img/DonJulio/admi2.png') no-repeat center center/cover;
    position: relative;
}

@media (max-width: 732px) {
    header {
        background: #100b9b url('../img/DonJulio/admi.png') no-repeat center center/cover;
    }
}
@media (min-width: 1500px) {
    header {
        background: #100b9b url('../img/DonJulio/admi3.png') no-repeat center center/cover;
        height: 210px;
    }
}
.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    padding-right: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #007bff;
}
/* ==================== Linea index ==================== */
.line{
    text-align: center;
    padding-block-start: 1px;
    padding-block-end: 0px;
    background-color: #000000;
    margin: 0 auto;
    width: 48%;
}

@media (max-width: 732px) {
    .line {
        padding-block-start: 2px;
        width: 80%;
        
    }
}

/* ==================== Texto ==================== */
.contenedor {
    padding: 9% 0% 1% 0%;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor-c {
    padding: 4% 0% 1% 0%;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.color-back{
    background-color: #fff;
}
.titulo {
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    
}
.subtitulo{
    padding-top: 6px;
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    
}
.segundo-titulo{
    padding-top: 6px;
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: grey;
    
}
.icono {
    margin-bottom: 10px;
    position: relative;
	display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100px; 
}

.fa-solid.fa-user {
    font-size: 45px;
    display: ruby-text;
    color: #2D417D;
}
.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}
.contacto {
    display: flex;
    margin-bottom: 10px;
    font-weight: 600;
}

.icono-con {
    margin-right: 10px;
}

.info {
    font-size: 15px;
    color: #333;
}

.fa-solid {
    font-size: 18px;
}
.imagen-cuadrada {
    text-align: center;
    margin-top: 20px; 
}

.imagen-cuadrada img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media (max-width: 732px) {
    .titulo {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .subtitulo {
        font-size: 18px;
    }

    .contenedor {
        padding: 40% 0% 1% 0%;
        
    }
}
@media (min-width: 1400px) {
    .contenedor {
        padding: 6% 0% 1% 0%;
    }
    .titulo {
        font-size: 24px;
    }
    .subtitulo {
        font-size: 17px;
    }
    .segundo-titulo {
        font-size: 16px;
    }
}

/* ==================== Redes ==================== */
.social-menu-p2 {
    text-align: center;
    background-color: #fff;
}
.social-menu-p2 h2 {
    font-size: 20px;
}
.social-menu {
    text-align: center;
    margin-top: 20px;
}
.social-menu h2 {
    font-size: 20px;
}
.social-icons {
    list-style-type: none;
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social-icons li {
    z-index: 999;
    margin: 20px;
    width: 230px; 
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
    animation-delay: 1s;  
}
.social-icons-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .social-icons-row li {
    margin: 20px;
    width: 230px;
  }
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.no-animations .social-icons li {
    opacity: 1 !important;
    animation: none !important;
}

.social-icons li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons li a i {
    color: #2D417D;
    font-size: 60px;
    transition: all 0.3s;
}
.social-icons li a span {
    font-size: 18px;
    margin-top: 7px;
}
.social-icons li a:hover i {
    transform: scale(1.2);
}

@media (min-width:1400px) {
    .social-icons{
        top: 15%;
        padding: 20px 300px 0px 300px;    
    }
    
}
@media (min-width:1850px) {
    .social-icons{
        top: 15%;
        padding: 20px 300px 0px 300px;    
    }
    
}
@media (max-width:632px) {
    .social-icons{
        padding: 20px 
    }
        
}
@media (max-width: 632px){
.social-icons li {
        width: 120px;
    }
}

.no-animations .social-icons li {
    animation: none !important;
}

/* ==================== Modal Qr y Contacto ==================== */
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    text-align: center;
    font-size: 150%;
    margin: 0 0 15px;
}
.modal-window p {
    text-align: center;
    font-size: 120%;
    margin: 0 0 15px;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
}
.modal-window > div {
    border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}
.recuadro {
    width: 40%;
    height: 20%;
    margin: 5px 30%;
}

/* ==================== Banner Page ==================== */
.banner-container {
    position: relative;
    width: 100%;
    height: 450px;
    animation: grow 1s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}  
.imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.banner-container h2{
    text-align: center;
    padding: 5% 15% 2% 15%;
    font-size: 26px;
}
.banner-container p{
    text-align: center;
    padding: 0% 15% 3% 15%;
    font-size: 15px;
}
/* Button Banner */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button {
    font-size: 15px;
    margin: 4px;
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
button:hover {
    color: #e8e8e8;
}
button:hover::before {
    width: 100%;
}

@media (max-width: 632px){
    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        }
        button {
        margin: 5px;
        font-size: 15px;
        }
        .banner-container {
        height: 800px;
        }
        .banner-container h2 {
        padding: 5% 2% 2% 2%;
        font-size: 20px;
        }
        .banner-container p {
        padding: 5% 4% 2% 4%;
        font-size: 15px;
        }
}
@media (min-width: 1400px){
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        }
        button {
        margin: 5px;
        font-size: 17px;
        }
        .banner-container {
        height: 500px;
        }
        .banner-container h2{
        padding: 5% 25% 2% 25%;
        }
        .banner-container p{
        padding: 0% 25% 3% 25%;
        }
}

/* ==================== Social ==================== */
.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
    }
/* twitter*/
.containerTwo:hover {
    background-color: #111010a5;
    transition-duration: 0.3s;
}
/* facebook*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}
.socialSvg {
    width: 17px;
}
.socialSvg path {
    fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
    0% {
    transform: translateY(-50px);
    opacity: 0;
}
    100% {
    transform: translateY(0);
    opacity: 1;
}
}
.no-animations .socialContainer:hover .socialSvg .containerOne:hover{
    animation: none !important;
    opacity: 1 !important;
    transform: none !important;
    z-index: 999 !important;
}
/* ==================== Carrusel ==================== */
.carousel-section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* ==================== Gallery ==================== */
/* .slider-container {
    position: relative;
    width: 80%;
    margin: 10px auto; 
    overflow: hidden;
    z-index: 999;
}

.slider {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    flex: 0 0 33.33%;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 632px) {
    .slider-container {
        width: 100%;
    }
    .slide {
        flex: 0 0 100%;
    }
    .prev,
    .next {
        transform: translateY(-100%);
    }
} */

/* Estilos aplicados solo durante la impresión o exportación a PDF */
/* @media (min-width: 768px) {
    
    .pdf-view .slider {
        display: block;
        text-align: center;
    }

    .pdf-view .slide {
        display: inline-block;
        width: 70%; 
        margin-bottom: 10px;
        vertical-align: top;
    }
}

@media (max-width: 767px) {
    
    .pdf-view .slider {
        display: block;
        text-align: center;
    }

    .pdf-view .slide {
        display: inline-block;
        width: 100%; 
        margin-bottom: 10px;
        vertical-align: top;
    }
}

.pdf-view .prev,
.pdf-view .next {
    display: none; 
} */
/* ==================== Footer ==================== */
footer{
    background: rgb(0 0 0 / 81%);
    ;
    padding: 10px 0 20px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 15px;
    margin: 15px 0 0 0;
    color: #9e9797;
}